# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.xcuserstate
*.xcbkptlist

# Build
build/
*.o
*.d

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.build/
.swiftpm/

# Logs & temp
*.log
/tmp/
